/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

/* General reset for margin and padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fefefc;
  padding: 20px 30px;
}

.logo-img {
  width: 120px;
  height: auto;
}

.navbar {
  font-family: 'Arial', sans-serif;
}

.nav-links {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav-item {
  margin-right: 20px;
  display: inline;
}


.nav-item a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-size: 16px;
  transition: color 0.3s ease;
}

.nav-item a:hover {
  color: hsl(80, 46%, 35%); /* A olive color when hovering */
}

/* Footer Styles */
.footer {
  background-color: #33333373;
  color: #fff;
  padding: 30px 10px;
  text-align: center;
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.footer-logo .logo {
  width: 90px;
  margin-bottom: 20px;
}

.footer-nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  /* max-width: 800px; */
}

.footer-column {
  flex: 1;
  padding: 0 10px;
}

.footer-column h4 {
  margin-bottom: 10px;
  font-size: 1.2em;
}

.footer-column ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-column ul li {
  margin: 5px 0;
}

.footer-column ul li a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s;
}

.footer-column ul li a:hover {
  color: hsl(80, 46%, 35%);
}

/* Responsive Design
@media (max-width: 768px) {
  .footer-nav {
    flex-direction: column;
    align-items: center;
  }

  .footer-column {
    margin-bottom: 20px;
    text-align: center;
  }
} */
