.footer {
    background-color: #33333373;
    color: #fff;
    padding: 30px 10px;
    text-align: center;
  }
  
  .footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }
  
  .footer-logo .logo {
    width: 90px;
    margin-bottom: 20px;
  }
  
  .footer-nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    /* max-width: 800px; */
  }
  
  .footer-column {
    flex: 1;
    padding: 0 10px;
  }
  
  .footer-column h4 {
    margin-bottom: 10px;
    font-size: 1.2em;
  }
  
  .footer-column ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .footer-column ul li {
    margin: 5px 0;
  }
  
  .footer-column ul li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
  }
  
  .footer-column ul li a:hover {
    color: hsl(80, 46%, 35%);
  }
  
  /* Responsive Design
  @media (max-width: 768px) {
    .footer-nav {
      flex-direction: column;
      align-items: center;
    }
  
    .footer-column {
      margin-bottom: 20px;
      text-align: center;
    }
  } */
  