header {
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: #fefefc;
    padding: 20px 10px;
    margin-right: 50px;
  }
  
  .logo-img {
    width: 250px;
    height: auto;
    margin-left: 50px;
  }
  
  .nav-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .nav-item {
    margin-right: 20px;
    display: inline;
  }
  
  .nav-item a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    transition: color 0.3s ease;
  }
  
  .nav-item a:hover {
    color: #495E57; /* A olive color when hovering */
  }