.hero-section {
    background-color: rgba(47, 72, 35, 0.462);
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    margin: 0 auto;
    padding: 0 20px;
}

.hero-section article{
    max-width: 300px;
    text-align: justify;
    margin: 0px 150px 0px 50px;
}
.hero-section h2{
    color: yellow;
    margin: 50px 20px 0px 0px;
    /* font-display: left; */
}
.hero-section h3 {
    margin-bottom: 20px;
}
.reserveTabele-btn {
    align-self: self-start;
    margin: 20px 20px 20px 0px;
}

.hero-image {
    display: flex;
    flex-wrap: wrap;
    max-width: 200px;
    margin: 50px 50px 0 500px;
    position: absolute;
}