.testimonials-section {
    display: flex;
    flex-flow: wrap;
    flex-direction: column;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}
.testimonial-items{
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex: 1;
    padding: 0 10px;
}

.testimonial-item {
    list-style: none;
    padding: 0;
    margin: 0;
}

.testimonial-item h3 {
    margin-bottom: 10px;
    font-size: 1.2em;
  }

.comments-card {
    max-width: 150px;
}