.testimonials-section {
    display: flex;
    flex-flow: wrap;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    padding: 0 20px;
    background-color: #ededed;
}

.testimonials-section h2 {
    margin-top: 50px;
    margin-bottom: 50px;
    color: #495E57;
}
.testimonial-items{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 20px;
    max-width: 1200px;
    margin-bottom: 30px;
}

.testimonial-item {
    border: 1px solid #ddd;
    border-radius: 8px;
    width: 110px;
    box-shadow: 0 4px 4px #ddd;
    overflow: hidden;
    text-align: center;
    transition: transform 0.3s ease;
    padding-bottom: 10px;
    background-color: #ffffff;
}

.testimonial-item h4 {
    margin-bottom: 10px;
    font-size: 1em;
}

.testimonial-item p {
    /* padding-bottom: 5px; */
    font-size: small;
    padding: 0 10px 10px 10px;
}

.comments-card {
    width: 110px;
    max-height: 100px;
}